.jumbotron {
  background: #000 url('https://ununsplash.imgix.net/13/unsplash_523ae1f5502d6_1.JPG?fit=crop&fm=jpg&h=700&q=75&w=1050') center center fixed;
  background-size: cover;
  margin-top: auto 0;

}
