
<div class="jumbotron">
  <div class="container">
    <div class="heading">
      <h1>List.it</h1>
      <p>Stay <strong>motivated</strong>.</p>
      <p>Keep track of your <strong>progress</strong>.</p>
    </div>
  
    </br>

    <div class="task-list-container">
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-group-item">
            <h4 class="input-group-item list-title">Current Tasks</h4>
            <form class="input-group" ng-submit="addTask()">
              <input type="text" ng-model="newTaskText" class="form-control" placeholder="Add to your list...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
              </span>
            </form><!-- /input-group -->
            </br>
            <li class="list-group-item" ng-repeat="task in tasks"> {{ task.text}} <input type="checkbox" ng-click="deleteTask(task)"/></span></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="details">
  <h4>Task Notes</h4>
</div>










  

<!-- this ng-click talks to the testAdd function -->
   <!-- <button ng-click="testAdd()">Click me to test adding!</button> -->





 <!--task in tasks
$scope.tasks.$add({note: 'hello'})
$scope.testAdd = function(){
$scope.tasks.$add({note: 'hello'})

on home.html: ng-click="testAdd()"
home.html: repeat through task in tasks
add ng-click="testAdd()" to element (try a button!)

app.js: add testAdd function:
$scope.testAdd = function(){
    $scope.tasks.$add({note: 'hello'})
}
{{ task.note }}

