<div class="jumbotron">
  <div class="container">
    <div class="heading">
      <h1>List.it</h1>
      <h4>A self-destructing task list</h4>
      <p>Stay <strong>motivated</strong>. Track your <strong>progress</strong>.</p>
    </div> <!-- end of heading -->
  
    </br>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
         <!-- Add tasks -->
          <form class="input-group" ng-submit="addTask()">
            <input type="text" ng-model="newTaskText" class="form-control" aria-label="Task" placeholder="Add to your list...">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="setPriority(priority)"> Priority <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" ng-repeat="priority in priorities" role="menu">
                  <li><a href="#"> {{ priority }} </a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
              </div>
          </form>
        </div> <!-- end of col-lg-6 -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->

    <!--<div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
       
            <form class="input-group" ng-submit="addTask()">
              <input type="text" ng-model="newTaskText" class="form-control" placeholder="Add to your list..">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
              </span> 
            </form>
        </div> 
      </div> 
    </div>  -->

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <h4 class="list-group-item">ACTIVE LIST</h4>
          <!-- List of tasks -->
          <div class="list-group-item" ng-show="newTaskText">
              <input type="text" disabled='true' class="todo" placeholder= "{{ newTaskText }}" >
            </div>
            <div class="list-group-item" ng-repeat="task in tasks" ng-hide="task.expired || task.done">
              <input type="text" class="todo" ng-model="task.text">
        <!--      <input class="date" type="text" ng-model="task.created" ng-click="expiredTask(task)"> -->
              <button ng-click="myStyle={color: 'yellow'}"><span class="glyphicon glyphicon-star" ng-style="myStyle"></span></button>
              <span class="glyphicon glyphicon-ok" ng-model="task.done" ng-click="completeTask(task)"></span>
              <span class="glyphicon glyphicon-remove" ng-click="deleteTask(task)"></span>
          </div>
        </div><!-- end of col-lg-6 -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of container -->
</div> <!-- end of jumbotron -->

</br>

<div class="information">
  <h2>How does it work?</h2>
  </br>
  <p>To-do lists are notorious for collecting junk - tasks that you want to remember, but constantly re-prioritize. To solve the problem of to-do list clutter, there is List.it.  This app will manage your to-do lists by automatically deleting tasks that have not been completed after seven days.</p>
  </br>
  <p>Our hypothesis is that, if the task is not important enough to be completed within seven days, it does not belong on your to-do list!  Now, go and accomplish something great!  As an added bonus, view your list history to track your progress and motivate yourself to finish tasks that a truly important to you.</p>
</div>


<!-- this ng-click talks to the testAdd function -->
   <!-- <button ng-click="testAdd()">Click me to test adding!</button> -->

 <!--task in tasks

on home.html: ng-click="testAdd()"
home.html: repeat through task in tasks
add ng-click="testAdd()" to element (try a button!)

app.js: add testAdd function:
$scope.testAdd = function(){
    $scope.tasks.$add({note: 'hello'})
}


